{% extends 'base.html' %}

{% block content %}
   
    <!-- <main class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4 mt-5">
               
            </div>
        </div>
    </main> -->
    <!-- <h1>Signin</h1>

<p>
{{error}}
</p>

<form action="/signin/" method="POST">
  {% csrf_token %}
  {{form.as_p}}
  <button>
    Signin
  </button>
</form> -->

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-body">
                    
                    <p class="text-danger text-center">{{ error }}</p>
                    <form class="card card-body" action="/signin/" method="POST">
                        <h1 class="text-center">Signin</h1>
                        {% csrf_token %}
                        {{ error }}
                        <div class="mb-3">
                            <label for="username">Username</label>
                            <input id="username" type="text" name="username" class="form-control" placeholder="Escriba tu usuario">
                        </div>
                        <div class="mb-3">
                            <label for="password">Coloque su clave</label>
                            <input id="password" type="password" name="password" class="form-control" placeholder="Escriba tu password">
                        </div>
                        <button class="btn btn-primary">Signin</button>
                       
                    </form>
                    <div class="text-center mt-3">
                        <a href="{% url 'password_reset' %}">Forgot Password?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}


