{% extends 'base.html' %}

{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h1 class="mt-5">{{error}}</h1>
            <form method="POST">
                {% csrf_token %}
                {{form.as_p}}

                <button class="btn btn-primary">
                    update
                </button>
            </form>
            <div class="d-flex mt-4">
                <form action="{% url 'completarTarea' tarea.id %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-dark">
                        completar
                    </button>
                </form>
                <form action="{% url 'eliminarTarea' tarea.id %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-danger">
                        eliminar
                    </button>
                </form>
            </div>

        </div>
    </div>
</main>
{% endblock %}